@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
h1,
h2,
h3,
p {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.socialLinks img {
  padding: 10px;
}
.socialLinks img:hover {
  opacity: 0.75;
}
.portrait {
  display: block;
  margin: 0 auto;
  border-radius: 125px;
  border: 5px solid black;
}
.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pictures-container {
  display: grid;
  grid-template-columns: repeat(3, fit-content(33%));
  gap: 10px;
}
.instagram-container img {
  width: 100%;
}
.layouts-container {
  text-align: center;
}
ul,
.netlifylink {
  display: inline-block;
}
li {
  display: inline;
  list-style-type: none;
}
.instagram_picture:hover {
  opacity: 0.75;
}
.layout_thumbnail {
  padding: 10px;
  border: 2px solid black;
  border-radius: 25px;
}
.netlifylink {
  margin: 10px;
  text-transform: uppercase;
  font-size: 0.9em;
  /* border: 1px solid lightskyblue; */
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
:root {
  color-scheme: light dark;
}
